Repository kyn07c0/sausage-store: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-backend-code-job, build-frontend-code-job, sonarqube-backend-sast, sonarqube-frontend-sast, upload-backend-release, upload-frontend-release

Path conditions:
  build-backend-code-job: any of: backend/**/*
  build-frontend-code-job: any of: frontend/**/*
  sonarqube-backend-sast: any of: backend/**/*
  sonarqube-frontend-sast: any of: frontend/**/*
  upload-backend-release: any of: backend/**/*
  upload-frontend-release: any of: frontend/**/*

edit gitlab-ci.yml
  backend/src/main/resources/application.properties
Due: build-backend-code-job, sonarqube-backend-sast, upload-backend-release

edit gitlab-ci.yml
  backend-report/deploy.sh
  backend/src/main/resources/application.properties
Due: build-backend-code-job, sonarqube-backend-sast, upload-backend-release

edit gitlab-ci.yml
  backend-report/.gitlab-ci.yml
  backend-report/deploy.sh
Due: none

edit gitlab-ci.yml
  frontend/deploy.sh
Due: build-frontend-code-job, sonarqube-frontend-sast, upload-frontend-release

edit gitlab-ci.yml
  backend-report/deploy.sh
  backend/deploy.sh
  frontend/deploy.sh
Due: build-backend-code-job, build-frontend-code-job, sonarqube-backend-sast, sonarqube-frontend-sast, upload-backend-release, upload-frontend-release

edit gitlab-ci.yml
  backend-report/.gitlab-ci.yml
Due: none

edit gitlab-ci.yml
  backend-report/deploy.sh
Due: none

edit gitlab-ci.yml
  test.env
Due: none

Update application.properties
  backend/src/main/resources/application.properties
Due: build-backend-code-job, sonarqube-backend-sast, upload-backend-release

Update .gitlab-ci.yml
  backend-report/.gitlab-ci.yml
Due: none

Update README.md
  README.md
Due: none

edit gitlab-ci.yml
  frontend/Dockerfile
  frontend/nginx.tmpl
Due: build-frontend-code-job, sonarqube-frontend-sast, upload-frontend-release

edit gitlab-ci.yml
  docker-compose.yaml
Due: none

edit gitlab-ci.yml
  backend/deploy.sh
  frontend/Dockerfile
Due: build-backend-code-job, build-frontend-code-job, sonarqube-backend-sast, sonarqube-frontend-sast, upload-backend-release, upload-frontend-release

edit gitlab-ci.yml
  backend/deploy.sh
Due: build-backend-code-job, sonarqube-backend-sast, upload-backend-release

edit gitlab-ci.yml
  backend/deploy.sh
  docker-compose.yaml
Due: build-backend-code-job, sonarqube-backend-sast, upload-backend-release
