Repository kyn07c0/sausage-store: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-backend-code-job, build-frontend-code-job, sonarqube-backend-sast, sonarqube-frontend-sast, upload-backend-release, upload-frontend-release

Path conditions:
  build-backend-code-job: any of: backend/**/*
  build-frontend-code-job: any of: frontend/**/*
  sonarqube-backend-sast: any of: backend/**/*
  sonarqube-frontend-sast: any of: frontend/**/*
  upload-backend-release: any of: backend/**/*
  upload-frontend-release: any of: frontend/**/*

edit gitlab-ci.yml
  frontend/.gitlab-ci.yml
Due: build-frontend-code-job, sonarqube-frontend-sast, upload-frontend-release

edit gitlab-ci.yml
  frontend/deploy.sh
Due: build-frontend-code-job, sonarqube-frontend-sast, upload-frontend-release

edit gitlab-ci.yml
  .env
  frontend/deploy.sh
Due: build-frontend-code-job, sonarqube-frontend-sast, upload-frontend-release

edit deploy.sh
  frontend/deploy.sh
Due: build-frontend-code-job, sonarqube-frontend-sast, upload-frontend-release

edit deploy.sh
  backend/.gitlab-ci.yml
  backend/deploy.sh
  frontend/deploy.sh
Due: build-backend-code-job, build-frontend-code-job, sonarqube-backend-sast, sonarqube-frontend-sast, upload-backend-release, upload-frontend-release

edit gitlab-ci.yml
  .env
  backend/.gitlab-ci.yml
Due: build-backend-code-job, sonarqube-backend-sast, upload-backend-release

edit gitlab-ci.yml
  backend/.gitlab-ci.yml
Due: build-backend-code-job, sonarqube-backend-sast, upload-backend-release

edit gitlab-ci.yml
  backend-report/.gitlab-ci.yml
  backend-report/deploy.sh
  backend/.gitlab-ci.yml
  frontend/.gitlab-ci.yml
Due: build-backend-code-job, build-frontend-code-job, sonarqube-backend-sast, sonarqube-frontend-sast, upload-backend-release, upload-frontend-release

edit gitlab-ci.yml
  .gitignore
  backend/.gitlab-ci.yml
  backend/deploy.sh
Due: build-backend-code-job, sonarqube-backend-sast, upload-backend-release

edit gitlab-ci.yml
  docker-compose.yaml
Due: none

edit gitlab-ci.yml
  backend-report/.gitlab-ci.yml
Due: none

edit gitlab-ci.yml
  backend-report/.gitlab-ci.yml
  backend-report/deploy.sh
Due: none

edit gitlab-ci.yml
  .env
  backend-report/.gitlab-ci.yml
  backend-report/deploy.sh
  backend/deploy.sh
Due: build-backend-code-job, sonarqube-backend-sast, upload-backend-release

edit gitlab-ci.yml
  backend-report/deploy.sh
Due: none

edit gitlab-ci.yml
  backend-report/deploy.sh
  backend/deploy.sh
  frontend/deploy.sh
Due: build-backend-code-job, build-frontend-code-job, sonarqube-backend-sast, sonarqube-frontend-sast, upload-backend-release, upload-frontend-release

edit gitlab-ci.yml
  backend-report/.gitlab-ci.yml
  backend-report/deploy.sh
  backend/.gitlab-ci.yml
  backend/deploy.sh
  docker-compose.yaml
  frontend/.gitlab-ci.yml
  frontend/deploy.sh
Due: build-backend-code-job, build-frontend-code-job, sonarqube-backend-sast, sonarqube-frontend-sast, upload-backend-release, upload-frontend-release

edit gitlab-ci.yml
  backend-report/deploy.sh
  docker-compose.yaml
Due: none

edit gitlab-ci.yml
  backend-report/.gitlab-ci.yml
  backend/.gitlab-ci.yml
Due: build-backend-code-job, sonarqube-backend-sast, upload-backend-release
