Repository kyn07c0/sausage-store: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-backend-code-job, build-frontend-code-job, sonarqube-backend-sast, sonarqube-frontend-sast, upload-backend-release, upload-frontend-release

Path conditions:
  build-backend-code-job: any of: backend/**/*
  build-frontend-code-job: any of: frontend/**/*
  sonarqube-backend-sast: any of: backend/**/*
  sonarqube-frontend-sast: any of: frontend/**/*
  upload-backend-release: any of: backend/**/*
  upload-frontend-release: any of: frontend/**/*

edit Dockerfiles
  frontend/Dockerfile
Due: build-frontend-code-job, sonarqube-frontend-sast, upload-frontend-release

edit Dockerfiles
  frontend/Dockerfile
  frontend/deploy.sh
Due: build-frontend-code-job, sonarqube-frontend-sast, upload-frontend-release

edit Dockerfiles
  backend/Dockerfile
  frontend/Dockerfile
  frontend/deploy.sh
Due: build-backend-code-job, build-frontend-code-job, sonarqube-backend-sast, sonarqube-frontend-sast, upload-backend-release, upload-frontend-release

edit Dockerfiles
  frontend/deploy.sh
Due: build-frontend-code-job, sonarqube-frontend-sast, upload-frontend-release

edit Dockerfiles
  backend/deploy.sh
  frontend/deploy.sh
Due: build-backend-code-job, build-frontend-code-job, sonarqube-backend-sast, sonarqube-frontend-sast, upload-backend-release, upload-frontend-release

edit Dockerfiles
  backend/.gitlab-ci.yml
Due: build-backend-code-job, sonarqube-backend-sast, upload-backend-release

edit Dockerfiles
  backend/.gitlab-ci.yml
  backend/.gitlab-ci.yml.swp
Due: build-backend-code-job, sonarqube-backend-sast, upload-backend-release

edit Dockerfiles
  backend/.gitlab-ci.yml
  frontend/.gitlab-ci.yml
Due: build-backend-code-job, build-frontend-code-job, sonarqube-backend-sast, sonarqube-frontend-sast, upload-backend-release, upload-frontend-release

edit Dockerfiles
  frontend/.gitlab-ci.yml
Due: build-frontend-code-job, sonarqube-frontend-sast, upload-frontend-release

edit Dockerfiles
  backend/deploy.sh
Due: build-backend-code-job, sonarqube-backend-sast, upload-backend-release

rm .env
  backend/.env
  backend/.gitlab-ci.yml.swp
Due: build-backend-code-job, sonarqube-backend-sast, upload-backend-release

add comment telegram
  backend/.gitlab-ci.yml
  frontend/.gitlab-ci.yml
Due: build-backend-code-job, build-frontend-code-job, sonarqube-backend-sast, sonarqube-frontend-sast, upload-backend-release, upload-frontend-release

Change images links
  backend/src/main/java/com/yandex/practicum/devops/SausageApplication.java
Due: build-backend-code-job, sonarqube-backend-sast, upload-backend-release

Update Dockerfile
  backend/Dockerfile
Due: build-backend-code-job, sonarqube-backend-sast, upload-backend-release

Update .gitlab-ci.yml
  backend/.gitlab-ci.yml
Due: build-backend-code-job, sonarqube-backend-sast, upload-backend-release
