Repository kyn07c0/sausage-store: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-backend-code-job, build-frontend-code-job, sonarqube-backend-sast, sonarqube-frontend-sast, upload-backend-release, upload-frontend-release

Path conditions:
  build-backend-code-job: any of: backend/**/*
  build-frontend-code-job: any of: frontend/**/*
  sonarqube-backend-sast: any of: backend/**/*
  sonarqube-frontend-sast: any of: frontend/**/*
  upload-backend-release: any of: backend/**/*
  upload-frontend-release: any of: frontend/**/*

edit docker-compose.yml
  backend/deploy.sh
Due: build-backend-code-job, sonarqube-backend-sast, upload-backend-release

edit deploy.sh
  backend/deploy.sh
Due: build-backend-code-job, sonarqube-backend-sast, upload-backend-release

edit deploy.sh
  backend/deploy.sh
  docker-compose.yaml
Due: build-backend-code-job, sonarqube-backend-sast, upload-backend-release

rm .env_backend
  .gitignore
  backend/.env_backend
Due: build-backend-code-job, sonarqube-backend-sast, upload-backend-release

rm .env_backend
  .gitignore
  backend-report/.env_backend_report
Due: none

edit .gitignore
  .gitignore
Due: none

edit .gitignore
  backend/pom.xml
Due: build-backend-code-job, sonarqube-backend-sast, upload-backend-release

edit docker-compose.yaml
  docker-compose.yaml
Due: none

edit docker-compose.yaml
  backend/deploy.sh
Due: build-backend-code-job, sonarqube-backend-sast, upload-backend-release

Update Dockerfile
  frontend/Dockerfile
Due: build-frontend-code-job, sonarqube-frontend-sast, upload-frontend-release

Update Dockerfile
  backend/Dockerfile
Due: build-backend-code-job, sonarqube-backend-sast, upload-backend-release

Add new directory
  multicloud/.gitkeep
Due: none

Add new file
  multicloud/ReadMe.txt
Due: none

Upload New File
  multicloud/multicloud.jpg
Due: none

Prometheus metrics added
  backend/pom.xml
  backend/src/main/java/com/yandex/practicum/devops/service/BusinessMetricsService.java
  backend/src/main/java/com/yandex/practicum/devops/service/OrderServiceImpl.java
  backend/src/main/resources/application.properties
Due: build-backend-code-job, sonarqube-backend-sast, upload-backend-release

Update sausage-store-backend.service
  backend/sausage-store-backend.service
Due: build-backend-code-job, sonarqube-backend-sast, upload-backend-release

Update README.md
  README.md
Due: none
