Repository kyn07c0/sausage-store: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-backend-code-job, build-frontend-code-job, sonarqube-backend-sast, sonarqube-frontend-sast, upload-backend-release, upload-frontend-release

Path conditions:
  build-backend-code-job: any of: backend/**/*
  build-frontend-code-job: any of: frontend/**/*
  sonarqube-backend-sast: any of: backend/**/*
  sonarqube-frontend-sast: any of: frontend/**/*
  upload-backend-release: any of: backend/**/*
  upload-frontend-release: any of: frontend/**/*

change files
  frontend/.gitlab-ci.yml
Due: build-frontend-code-job, sonarqube-frontend-sast, upload-frontend-release

change files
  frontend/Dockerfile
Due: build-frontend-code-job, sonarqube-frontend-sast, upload-frontend-release

change files
  frontend/.gitlab-ci.yml
  frontend/Dockerfile
Due: build-frontend-code-job, sonarqube-frontend-sast, upload-frontend-release

edit Dockerfiles
  backend/Dockerfile
  frontend/Dockerfile
Due: build-backend-code-job, build-frontend-code-job, sonarqube-backend-sast, sonarqube-frontend-sast, upload-backend-release, upload-frontend-release

edit Dockerfiles
  backend/.gitlab-ci.yml
  frontend/Dockerfile
Due: build-backend-code-job, build-frontend-code-job, sonarqube-backend-sast, sonarqube-frontend-sast, upload-backend-release, upload-frontend-release

edit Dockerfiles
  frontend/.gitlab-ci.yml
  frontend/Dockerfile
Due: build-frontend-code-job, sonarqube-frontend-sast, upload-frontend-release

edit Dockerfiles
  frontend/Dockerfile
Due: build-frontend-code-job, sonarqube-frontend-sast, upload-frontend-release

edit Dockerfiles
  frontend/deploy.sh
Due: build-frontend-code-job, sonarqube-frontend-sast, upload-frontend-release

edit Dockerfiles
  frontend/.gitlab-ci.yml
  frontend/deploy.sh
Due: build-frontend-code-job, sonarqube-frontend-sast, upload-frontend-release

edit Dockerfiles
  frontend/.gitlab-ci.yml
Due: build-frontend-code-job, sonarqube-frontend-sast, upload-frontend-release

edit Dockerfiles
  backend/deploy.sh
Due: build-backend-code-job, sonarqube-backend-sast, upload-backend-release

edit Dockerfiles
  backend/deploy.sh
  frontend/deploy.sh
Due: build-backend-code-job, build-frontend-code-job, sonarqube-backend-sast, sonarqube-frontend-sast, upload-backend-release, upload-frontend-release

edit Dockerfiles
  frontend/Dockerfile
  frontend/deploy.sh
Due: build-frontend-code-job, sonarqube-frontend-sast, upload-frontend-release
