Repository kyn07c0/sausage-store: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-backend-code-job, build-frontend-code-job, sonarqube-backend-sast, sonarqube-frontend-sast, upload-backend-release, upload-frontend-release

build-backend-code-job:
  stage: build
  script:
  - echo BUILD_BACKEND_JOB_ID = $CI_JOB_ID >> job.env
  - cd backend
  - mvn package -Dmaven.repo.local=${CI_PROJECT_DIR}/.m2/repository -Dversion.application=${VERSION}
  artifacts:
    paths:
    - backend/target/sausage-store-${VERSION}.jar
    - ${CI_PROJECT_DIR}/.m2/
    reports:
  ...

build-frontend-code-job:
  stage: build
  script:
  - echo BUILD_FRONTEND_JOB_ID = $CI_JOB_ID >> job.env
  - cd frontend
  - npm install
  - npm run build
  artifacts:
    paths:
    - frontend/dist/frontend
    reports:
      dotenv: job.env

sonarqube-backend-sast:
  stage: test
  image: maven:3.8-openjdk-16
  needs:
  - build-backend-code-job
  script:
  - cd backend
  ...

sonarqube-frontend-sast:
  stage: test
  image: sonarsource/sonar-scanner-cli:latest
  needs:
  - build-frontend-code-job
  script:
  - cd frontend
  ...

upload-backend-release:
  stage: release
  needs:
  - build-frontend-code-job
  - spotbugs-sast
  - sonarqube-backend-sast
  script:
  - cd backend
  - mvn -Dmaven.repo.local=${CI_PROJECT_DIR}/.m2/repository -s settings.xml -Dversion.application=${VERSION} -DskipTests deploy
  ...

upload-frontend-release:
  stage: release
  needs:
  - build-frontend-code-job
  - spotbugs-sast
  - sonarqube-frontend-sast
  script:
  - cd frontend/dist
  - tar czvf sausage-store-${VERSION}.tar.gz frontend
  ...

Update pom.xml
  backend/pom.xml
Due: build-backend-code-job, sonarqube-backend-sast, upload-backend-release

Update V002__alter_tables.sql
  backend/src/main/resources/db/migration/V002__alter_tables.sql
Due: build-backend-code-job, sonarqube-backend-sast, upload-backend-release

Update .gitlab-ci.yml
  backend/.gitlab-ci.yml
Due: build-backend-code-job, sonarqube-backend-sast, upload-backend-release

Update V003__create_indexes.sql
  backend/src/main/resources/db/migration/V003__create_indexes.sql
Due: build-backend-code-job, sonarqube-backend-sast, upload-backend-release

Added MongoDB integration
  backend/pom.xml
  backend/src/main/java/com/yandex/practicum/devops/SausageApplication.java
  backend/src/main/java/com/yandex/practicum/devops/model/Report.java
  backend/src/main/java/com/yandex/practicum/devops/repository/ReportRepository.java
  backend/src/main/java/com/yandex/practicum/devops/task/ReportSaverTask.java
  backend/src/main/resources/application.properties
  backend/src/test/resources/application.properties
Due: build-backend-code-job, sonarqube-backend-sast, upload-backend-release

Update sausage-store-backend.service
  backend/sausage-store-backend.service
Due: build-backend-code-job, sonarqube-backend-sast, upload-backend-release

Add Dockerfile
  backend/.env
  backend/Dockerfile
  frontend/Dockerfile
Due: build-backend-code-job, build-frontend-code-job, sonarqube-backend-sast, sonarqube-frontend-sast, upload-backend-release, upload-frontend-release

Update .gitlab-ci.yml
  frontend/.gitlab-ci.yml
Due: build-frontend-code-job, sonarqube-frontend-sast, upload-frontend-release

edit files
  backend/.gitlab-ci.yml
  backend/deploy.sh
  frontend/.dockerignore
Due: build-backend-code-job, build-frontend-code-job, sonarqube-backend-sast, sonarqube-frontend-sast, upload-backend-release, upload-frontend-release

edit files
  backend/.gitlab-ci.yml
  backend/deploy.sh
  frontend/.gitlab-ci.yml
Due: build-backend-code-job, build-frontend-code-job, sonarqube-backend-sast, sonarqube-frontend-sast, upload-backend-release, upload-frontend-release

edit files
  backend/.gitlab-ci.yml
Due: build-backend-code-job, sonarqube-backend-sast, upload-backend-release

edit file
  backend/.gitlab-ci.yml
Due: build-backend-code-job, sonarqube-backend-sast, upload-backend-release

change files
  backend/deploy.sh
Due: build-backend-code-job, sonarqube-backend-sast, upload-backend-release

change files
  backend/.gitlab-ci.yml
  backend/deploy.sh
Due: build-backend-code-job, sonarqube-backend-sast, upload-backend-release

change files
  backend/.gitlab-ci.yml
Due: build-backend-code-job, sonarqube-backend-sast, upload-backend-release

change files
  backend/.gitlab-ci.yml
  frontend/.gitlab-ci.yml
  frontend/deploy.sh
Due: build-backend-code-job, build-frontend-code-job, sonarqube-backend-sast, sonarqube-frontend-sast, upload-backend-release, upload-frontend-release

change files
  frontend/.gitlab-ci.yml
Due: build-frontend-code-job, sonarqube-frontend-sast, upload-frontend-release

Path conditions:
  build-backend-code-job: any of: backend/**/*
  build-frontend-code-job: any of: frontend/**/*
  sonarqube-backend-sast: any of: backend/**/*
  sonarqube-frontend-sast: any of: frontend/**/*
  upload-backend-release: any of: backend/**/*
  upload-frontend-release: any of: frontend/**/*
