Repository kyn07c0/sausage-store: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-backend-code-job, build-frontend-code-job, sonarqube-backend-sast, sonarqube-frontend-sast, upload-backend-release, upload-frontend-release

Path conditions:
  build-backend-code-job: any of: backend/**/*
  build-frontend-code-job: any of: frontend/**/*
  sonarqube-backend-sast: any of: backend/**/*
  sonarqube-frontend-sast: any of: frontend/**/*
  upload-backend-release: any of: backend/**/*
  upload-frontend-release: any of: frontend/**/*

Update .gitlab-ci.yml
  backend/.gitlab-ci.yml
Due: build-backend-code-job, sonarqube-backend-sast, upload-backend-release

Update application.properties
  backend/src/main/resources/application.properties
Due: build-backend-code-job, sonarqube-backend-sast, upload-backend-release

Update pom.xml
  backend/pom.xml
Due: build-backend-code-job, sonarqube-backend-sast, upload-backend-release

Extracted reports to the new microservice
  backend-report/Dockerfile
  backend-report/README.md
  backend-report/app.py
  backend-report/requirements.txt
  backend-report/test_app.py
  backend/src/main/java/com/yandex/practicum/devops/model/Report.java
  backend/src/main/java/com/yandex/practicum/devops/repository/ReportRepository.java
  backend/src/main/java/com/yandex/practicum/devops/task/ReportGeneratorTask.java
  backend/src/main/java/com/yandex/practicum/devops/task/ReportSaverTask.java
  backend/src/test/java/com/yandex/practicum/devops/task/ReportGeneratorTaskTest.java
Due: build-backend-code-job, sonarqube-backend-sast, upload-backend-release

Add docker-compose.yaml
  backend-report/Dockerfile
  backend-report/__pycache__/app.cpython-38.pyc
  backend-report/__pycache__/test_app.cpython-38.pyc
  docker-compose.yaml
Due: none

Add .gitlab-ci.yaml and deploy.sh to backend-report
  .gitlab-ci.yml
  backend-report/.gitlab-ci.yml
  backend-report/deploy.sh
Due: none

Edit .gitlab-ci.yml
  backend-report/.gitlab-ci.yml
Due: none

Edit .gitlab-ci.yml
  backend-report/deploy.sh
  backend/deploy.sh
  docker-compose.yaml
  frontend/deploy.sh
Due: build-backend-code-job, build-frontend-code-job, sonarqube-backend-sast, sonarqube-frontend-sast, upload-backend-release, upload-frontend-release

Edit .gitlab-ci.yml
  backend-report/deploy.sh
  backend/deploy.sh
  frontend/deploy.sh
Due: build-backend-code-job, build-frontend-code-job, sonarqube-backend-sast, sonarqube-frontend-sast, upload-backend-release, upload-frontend-release

change files
  .env
  backend/.env
  docker-compose.yaml
Due: build-backend-code-job, sonarqube-backend-sast, upload-backend-release

edit file
  backend-report/.gitlab-ci.yml
  backend/.env
  backend/.gitlab-ci.yml
  backend/pom.xml
  docker-compose.yaml
  test.env
Due: build-backend-code-job, sonarqube-backend-sast, upload-backend-release

edit gitlab-ci.yml in backend-report
  backend-report/.gitlab-ci.yml
Due: none

edit deploy.sh and .gitlab-ci.yml
  frontend/.gitlab-ci.yml
  frontend/deploy.sh
Due: build-frontend-code-job, sonarqube-frontend-sast, upload-frontend-release

edit gitlab-ci.yml
  frontend/.gitlab-ci.yml
Due: build-frontend-code-job, sonarqube-frontend-sast, upload-frontend-release

edit gitlab-ci.yml
  docker-compose.yaml
Due: none

edit gitlab-ci.yml
  frontend/deploy.sh
Due: build-frontend-code-job, sonarqube-frontend-sast, upload-frontend-release
